
# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
indent_style = space
indent_size = 2
quote_style = single
continuation_indent_size = 2
end_of_line = auto
detect_end_of_line = false
max_line_length = 100
insert_final_newline = true
align_call_args = false
align_function_define_params = true
remove_expression_list_finish_comma = false
call_arg_parentheses = keep
continuous_assign_table_field_align_to_equal_sign = true
keep_one_space_between_table_and_bracket = true
align_table_field_to_first_field = false
align_chained_expression_statement = false
max_continuous_line_distance = 1
continuous_assign_statement_align_to_equal_sign = true
if_condition_align_with_each_other = false
local_assign_continuation_align_to_first_expression = false
statement_inline_comment_space = 1
label_no_indent = false
do_statement_no_indent = false
if_condition_no_continuation_indent = false
if_branch_comments_after_block_no_indent = false
table_append_expression_no_space = false
long_chain_expression_allow_one_space_after_colon = false
remove_empty_header_and_footer_lines_in_function = true
space_before_function_open_parenthesis = false
space_before_open_square_bracket = false
keep_one_space_between_namedef_and_attribute = true
keep_line_after_if_statement = minLine:0
keep_line_after_do_statement = minLine:0
keep_line_after_while_statement = minLine:0
keep_line_after_repeat_statement = minLine:0
keep_line_after_for_statement = minLine:0
keep_line_after_local_or_assign_statement = keepLine
keep_line_after_function_define_statement = keepLine:1
keep_line_after_expression_statement = keepLine
enable_check_codestyle = true
enable_name_style_check = true
local_name_define_style = snake_case
function_param_name_style = snake_case
function_name_define_style = snake_case
local_function_name_define_style = snake_case
table_field_name_define_style = snake_case
global_variable_name_define_style = snake_case|upper_snake_case
module_name_define_style = same('m')|same(filename, snake_case)
require_module_name_style = same(first_param, snake_case)
class_name_define_style = same(filename, snake_case)
